<h1><strong>My Portfolio</strong></h1>

<p>Search a stock by it symbol and start tracking now!</p>

<div class="search-area">
	<h3>Search stocks</h3>
	<%= form_tag search_stock_path, remote: true, method: :get do%>
		<div class="form-group row">
			<div class="col-sm-9 no-right-padding">
				<%= text_field_tag :stock, params[:stock], placeholder: "Enter stock ticker symbol", autofocus: true, class: "form-control"%>
			</div>
			<div class="col-sm-3 no-left-padding">
				<%= button_tag type: :submit, class: "btn btn-primary" do%>
					<%= fa_icon 'search' %>
				<% end %>

			</div>
		</div>
	<% end %>
</div>

<div id="results">

</div>

<% if @tracked_stocks.any? %>
	<%= render 'stocks/list' %>
<% else %>
	<h2 align="center">You are not tracking any stocks yet</h2>
	<h1 align="center" class="display-2">:o </h1>
	<h2 align="center">Search some to start tracking them</h2>
<% end %>
